body {
    font-family: "Times New Roman", Times, serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center; /* Выровнять весь текст по центру */
}

header {
    background-color: #151719;
    color: white;
    padding: 10px 0;
    text-align: center;
}

main {
    padding: 20px;
    text-align: center; /* Центрирование текста и содержимого в main */
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Стили для изображения */
.photo {
    display: block;
    margin: 20px auto; /* Выровнять изображение по центру */
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
